@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./SZc43FDmLaWmWpBuWB3s.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./pxiKyp0ihIEF2isfFJA.ttf) format('truetype');
}
