@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZVsf_.ttf) format('truetype');
}
