@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url(../_lib/fonts/Merriweather/u-4D0qyriQwlOrhSvowK_l5UcA6zuSYEqOzpPe3HOZJ5eX1WtLaQwmYiScCmDxhtNOKl8yDrdyAaFF3w.ttf) format('truetype');
}
